@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: flex-end;
}

.nav-bar li {
    padding-left: 15px;
}

.nav-bar li a {
    color: black;
    text-decoration: none;
}

.nav-bar li a:hover {
    text-decoration: underline;
}

.google-logo {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

input[type=search] {
    border-radius: 30px;
    padding: 10px 10px 10px 40px;
    width: 40%;
    height: 45px;
    margin: 20px 0 20px 0; 
    border: 2px solid #eee;
    width: 40%;
}

input[type=search]:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#search-icon {
    position: relative;
    right: 39%;
}

.input-text {
    display: flex;
    justify-content: center;
}



.buttons {
    display: flex;
    justify-content: center;
}
button {
    border: none;
    height: 40px;
    padding: 0px 16px;
    margin: 10px;
    background-color: #f8f9fa;
    border-radius: 4px;
}

button:hover {
    border: 1px solid #dadce0;;
}

.text {
    display: flex;
    justify-content: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #eee;
}

.footer-one {
   
    border-bottom: 2px solid rgb(173, 171, 171);
    margin: 0;
    padding: 15px 30px 15px 30px;
    display: flex;
}



.footer-two {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 15px 30px 15px 30px;
}

.box-one a {
    padding: 15px;
    color: black;
    text-decoration: none;
}

.box-two a {
    padding: 15px;
    color: black;
    text-decoration: none;
}

.box-one a:hover {
    text-decoration: underline;
}

.box-two a:hover {
    text-decoration: underline;
}

